---
layout: page
description: ""
---

<div class="home-feed">
{% for post in paginator.posts %}
<article class="post-preview">
    <a class="post-preview-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-preview-meta">
            {% if post.tags and post.tags.size > 0 %}
            {% assign _preview_tag = post.tags[0] %}
            {% assign _preview_tag_color = site.tag-colors[_preview_tag] | default: '#8593a0' %}
            <span class="post-preview-tag" style="--tag: {{ _preview_tag_color }}">{{ _preview_tag }}</span>
            {% endif %}
            <time class="post-preview-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        </div>
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <p class="post-subtitle">{{ post.subtitle }}</p>
        {% endif %}
        <p class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:300 }}
            {% else %}
                {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </p>
    </a>
</article>
{% endfor %}
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
